/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Questrial', sans-serif;
*/

body {
  background-image: url(resources/images/bg2.jpg);
  background-color: #6A8DFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 600px) {
  .principal { width:90vw; }
  .avatar {width:90%;}
}
.conteudo {
  padding: 10px;
}

.containerexperiencia {
  display: flex;
  flex-direction: row;
}

.experiencia {
  flex: 1 50%;
  background-color: #81AADFFF;
  margin:10px;
}

.principal {
  background-color: #c6d1ffeb;
  width: 700px;
  margin: auto;
  border-radius: 20px;
  position: relative;
}

.headercat{
  padding:0px;
  margin:auto;
  display:block;
}

.headercat2{
  display: flex;
  align-items:center;
}

.texto {
  padding:10px;
  font-family: 'Open Sans', sans-serif;
}
.textoservidor {
  font-size:20px;
  font-family: 'Open Sans', sans-serif;
}

.textocargo {
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
}

.moderador {
  color:#097890;
}

.admin {
  color:#C50000FF;
}

.vp {
  color:#a56206;
}

.nomecat{
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
  margin:auto;
}

.imgcat{
  vertical-align: middle;
  padding: 10px;
  margin-right:10px;
}

.imgtext{
  vertical-align: middle;
  padding: 10px;
  margin:auto;
}
.nomeimg{
  font-size: 15px;
  font-family: 'Questrial', sans-serif;
  margin:auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.containerinterior {
  display: flex;
  flex-direction: column;
}

.header {
  width: 400px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px
}

.avatar {
  border-radius: 90px;
  margin-bottom: 15px;
}

.hnome {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #3997a2;
}

.separador {
  flex: 1 100%;
  height: 3px;
  background-color: #929BB5FF;
  margin-bottom: 10px;
}
.separadorcat{
  flex: 1 100%;
  height: 2px;
  background-color: #74BED8FF;
}


.alcunha {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}

.links {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.espacolinks{
  flex: 1 100%;
  height: 70px;
  display: block;
}

.linksdireita {
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.links > a {
  margin-right: 15px
}

.ulinks:hover {
  text-decoration: underline !important;
}

/*Remover links*/

a:link {
  color:inherit;
    text-decoration: none;
}

a:visited {
  color:inherit;
    text-decoration: none;
}

a:hover {
  color:inherit;
    text-decoration: none;
}

a:active {
  color:inherit;
    text-decoration: none;
}
